*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}

main{
    display: flex;
    align-items: center;
    padding: 0 40px;
    height: 100vh;
}

.global-flex{
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
}

.box-img-left{
    width: 50%;
    height: auto;
}

.box-img-left img{
    width: 100%;
    height: 500px;
}

.form-container {
    width: 50%;
    height: 500px;
    margin: 0 auto;
    /* border-radius: 8px; */
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
  }

  fieldset{
    background-color: greenyellow;
    
    padding: 20px;
    position: relative;
  }

  fieldset label{
    margin-bottom: 40px;
  }

  fieldset button{
    float: right;
    margin-top: 250px;
  }

  fieldset #titulo{
    width: 100%;
    height: 50px;
  }
  
  .step {
    display: none;
  }
  
  .step.active {
    display: block;
  }

  label,input,textarea,select{
    display: flex;
    flex-direction: column;
  }
  
  #imagePreviewContainer {
    margin-top: 10px;
  }
  
  #imagePreview {
    max-width: 100%;
    height: auto;
  }
  

  .extra-info {
    margin-top: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
  }
  
  .box-flex-comunicado {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
  }
  
  .confirm-label {
    font-weight: bold;
  }
  