
.header__img {
  min-width: 40px !important;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Dropdown Geral */
.dropdown {
  position: relative;
  margin-left: 20px;
}

.notification-dropdown{
  margin-bottom: -7px;
} 

.notification-dropdown .dropdown-content {
  background-color: white;
  position: absolute;
  top: 49px;
  right: -106px;
}

/* Estilo básico do conteúdo do dropdown */
.dropdown-content {
  position: absolute;
  top: 56px;
  right: -44px;
  background-color: white;
  color: black;
  width: 250px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0 15px;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transform: translateY(-10px);
  transition: all 0.4s ease;
  visibility: hidden; /* Esconde visualmente enquanto fechado */
}

/* Quando o Dropdown Está Aberto */
.show {
  opacity: 1;
  max-height: 500px; /* Limite máximo do dropdown */
  transform: translateY(0);
  visibility: visible; /* Mostra o dropdown */
  padding: 15px; /* Ajusta o padding para evitar conteúdo comprimido */
}

.bxs-bell {
  font-size: 25px;
}

/* Contador de notificações */
.notification-count {
  background-color: red;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -5px;
  right: -5px;
  width: 20px;
  height: 20px;
}
