@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header__search{
    margin: 0 auto;
}

body{
    background-color: #f6f9f8; 
    font-family: poppins, sans-serif;
}

.box-icon{
    background-color:#a165b9;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-bottom: 10px;
}

.box-icon img{
    width: 50px;
    height: 50px;
}

.global-container{
    max-width: 1440px;
    height: auto;
    display: flex;
    margin: 0 auto;
}

main{
    width: 70%;
    height: auto;
}

.dashboard{
    width: 100%;
    padding:50px 40px;
}

.dashboard .box-title-dashboard{
    margin-left: 10px;
}

.dashboard .box-title-dashboard h1{
    margin-bottom: 5px;
    color: #88569c;
    font-size: 20px;
}

.flex-box-dashboard{
    display: flex;
    margin-top: 10px;
    /* justify-content: center; */
}


.flex-box-dashboard .box-dashboard{
    width: 30%;
    /* min-width: 200px; */
    height: auto;
    background-color: white;
    /* color: black; */
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .box-dashboard i{
    padding: 10px;
    background-color:#ff7f50;
    color: white;
    border-radius: 100%;
} */

.box-flex-dados{  
    display: flex;
    align-items: center;
    justify-content: center;
}

.dados{
    text-align: center;
}

.dados span{
    margin-bottom: 10px;
    font-weight: bold;
    color: #a165b9;
    font-size:15px;
}

.dados h3{
    font-size: 40px;
    font-weight: 800;
    color: #a165b9;
}


.section-registro{
    width: 100%;
    height: auto;
    padding: 0 40px 50px 40px;
}

.section-registro h2{
    margin-bottom: 20px;
    color: #88569c;
    font-size: 20px;
}

.table-container {
    width: 100%;
    overflow-x: auto; /* Rolagem horizontal em telas menores */
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    min-width: 400px; /* Para evitar tabelas muito comprimidas */
  }
  
  thead {
    background-color: #a165b9;
    color: #fff;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  tr td{
    color: #678175;
  }
  
  tbody tr:hover {
    background-color: #f1f1f1;
  }
  


aside{
    width: 30%;
    height: auto;
    background-color: #f6f9f8;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    padding: 50px 10px 50px 10px;
}

aside .section-aluno{
    width: 100%;
    height: auto;
}

.section-aluno h2{
    margin-bottom: 20px;
    font-size: 17px;
    color: #88569c;
}

.box-global-alunos{
    margin-bottom: 40px;
}

.section-aluno .aluno{
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.aluno img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 10px;
}

.aluno .box-info-aluno{
    width: calc(100% - 60px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-info-aluno .box-nome h5{
    font-size: 15px;
    font-weight: bold;
    color: #a165b9;
}

.box-info-aluno .box-nome span{
    font-size: 12px;
    color: #678175;
}

.aluno .box-info-aluno p{
    margin-top: -25px;
    font-size: 15px;
    font-weight: bold;
    color: #a165b9;
}

.aluno .box-info-aluno p span{
    font-weight: 400;
    font-size: 12px;
    margin-left: 5px;
    color: #678175;
}

.section-grafico{
    width: 100%;
    height: auto;
    padding: 0 40px 50px 40px;
}

/* .box-grifico{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
} */

.section-grafico canvas{
    width: 100%;
    margin-top: 20px;
}


@media screen and (max-width:1060px){
    main{
        width: 60%;
        height: auto;
    }

    .flex-box-dashboard{
        flex-wrap: wrap;
    }

    .flex-box-dashboard .box-dashboard{
        width: 100%;
    }

    aside{
        width: 40%;
        height: auto;
    }
    
}

@media screen and (max-width:768px){
    .dashboard{
        padding:50px 20px;
    }

    .flex-box-dashboard .box-dashboard{
        margin: 10px 10px 10px 10px;
    }

    .section-grafico{
        width: 100%;
        height: auto;
        padding: 0 20px 50px 20px;
    }
}

@media screen and (max-width:940px){
    .global-container{
        display: flex;
        flex-direction: column;
    }

    main{
        width: 100%;
        height: auto;
    }

    .dashboard{
        padding:50px 0;
    }

    .section-grafico{
        width: 100%;
        height: auto;
        padding: 0 10px 50px 10px;
    }

    .section-registro{
        width: 100%;
        height: auto;
        padding: 0 10px 50px 10px;
    }

    aside{
        width: 100%;
        height: auto;
    }

    .section-grafico canvas{
        width: 100%;
        height: 235px;
    }
}

/* Responsividade para telas menores */
@media (max-width: 500px) {
    table {
      min-width: unset; /* Permitir que a largura da tabela se ajuste */
    }
  
    thead {
      display: none; /* Oculta o cabeçalho da tabela */
    }
  
    tbody td {
      display: block;
      width: 100%;
      text-align: right;
      padding: 8px;
      position: relative;
      border-bottom: 1px solid #eee;
    }
  
    tbody td::before {
      content: attr(data-label); /* Cria rótulos para os dados */
      position: absolute;
      left: 0;
      width: 50%;
      font-weight: bold;
      text-align: left;
      color: #333;
    }
  }



@media screen and (max-width:450px){
}